.system-layout {
  .flex-reverse {
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    padding: 12px;
  }

  .titulo-pagina {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 18px;
  }
}
