.login-screen{
  background-color: #eceff1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-container{
    color: white;
    font-size: 19px;
    background-color: #001529;
    height: 55vh;
    width: 25vw;

    padding: 0 2vw;

    .img{
      margin: 5vh;
    }

    img{
      
      width: 100%;
      height: 100%;
    }

    p{
      margin-bottom: 5vh;
    }
  }
}